<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">

<head th:replace="layout::site-head">
	<meta charset="UTF-8" />

    <title>문의 게시물 수정</title>
</head>

<script>
Date.prototype.toDateInputValue = (function() {
var local = new Date(this);
local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
return local.toJSON().slice(0,10);
});
$(document).ready(function () {
$('#this_is_today').val(new Date().toDateInputValue());
})
</script>


<body>
<header th:replace="layout::site-header"></header>
<section th:replace="layout::site-section"></section>

<div style="position:relative; left:37%; top:30%; width:100%">
	<p></p>
	<h2>문의 게시물 수정 </h2>
	
	<div class="container row">
		<form action="#" onsubmit="return confirm('수정하시겠습니까?');" th:action="@{/inquiry/edit}" th:object="${inquiry}" method="post" class="form col-md-5 col-md-offset-7">
			<div class="form-group">
				<label> 제목 </label>
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{customers}"/>
				<input type="text" th:field="*{title}" th:class="${#fields.hasErrors('title') ? 'form-control is-invalid' : 'form-control'}" />
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="invalid-feedback"></div> 
			</div>
			<div class="form-group">
				<label> 내용 </label>
				<textarea rows="5" cols="" th:field="*{content}" th:class="${#fields.hasErrors('content') ? 'form-control is-invalid' : 'form-control'}" ></textarea>
				<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="invalid-feedback"></div>
			</div>

			<div class="form-group" style="display: none;">
				<label>등록일시</label>
				<input type="date" th:field="*{reg_date}"
					   th:class="${#fields.hasErrors('reg_date') ? 'form-control is-invalid' : 'form-control'}" readonly/>
				<div th:if="${#fields.hasErrors('customers')}" th:errors="*{customers}" class="invalid-feedback"></div>
			</div>

			<div class="form-group" style="display: none;">
				<label>수정일시 </label>
				<input type="date" th:field="*{update_date}" id="this_is_today"
					   th:class="${#fields.hasErrors('update_date') ? 'form-control is-invalid' : 'form-control'}" readonly/>
				<div th:if="${#fields.hasErrors('customers')}" th:errors="*{customers}" class="invalid-feedback"></div>
			</div>

			<div class="form-group clearfix">
				<button type="submit" class="btn btn-primary float-right">게시물 수정</button>
			</div>
			<div class="form-group">
				<div th:class="${successMessage} ? 'alert alert-success' : ''" th:text="${successMessage}"></div>
			</div>
		</form>		
	</div>
</div>

	<footer th:replace="layout::site-footer"></footer>
</body>

</html>