<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error(Default)</title>
</head>
<body>
<div>
    <center>
        <p>Default Error</p>
        <div class="container">
            <div class="hidden-xs text-center"><img th:src="@{/img/error.png}" src="../../static/img/error.png"/></div>        <div class="text-center">
            <div><h2>You are not allowed to see this content</h2></div>
        </div>
        </div><!-- ./ container -->

    </center>
</div>
</body>
</html>